/* =========================================
   1. 全局设置
   ========================================= */
body { 
    margin: 0; 
    font-family: "Microsoft YaHei", sans-serif; 
    background-color: #f5f5f5; 
    height: 100vh;             /* 强制一屏高度 */
    overflow: hidden;          /* 禁止 body 滚动 */
}

img { 
    max-width: 100%;           /* 全局图片自适应 */
}