/* =========================================
   1. 全局设置
   ========================================= */
body { 
    margin: 0; 
    font-family: "Microsoft YaHei", sans-serif; 

    /*background-color: #f5f5f5; */

    /* 【新增】设置背景图片 */
    /* 注意路径：css文件在 css/ 目录，图片在 pages/images/ 目录，所以是 ../pages/images/ */
    background: url('../pages/images/background.jpg') no-repeat center center fixed;
    background-size: cover; /* 让图片铺满全屏 */

    height: 100vh;             /* 强制一屏高度 */
    overflow: hidden;          /* 禁止 body 滚动 */
}

img { 
    max-width: 100%;           /* 全局图片自适应 */
}