/* =========================================
   1. Markdown 样式
   ========================================= */
/* 代码块盒子 */
pre {
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    margin-bottom: 16px;
}
/* 代码块文字 */
pre code {
    background-color: transparent;
    padding: 0;
    font-family: Consolas, monospace;
    font-size: 0.9em;
    color: #24292e;
}
/* 行内代码 */
code {
    font-family: Consolas, monospace;
    background-color: rgba(27,31,35,0.05);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.85em;
}